<div *ngIf="video" class="container">
  <div class="wrapper">
    <button class="button-back" (click)="historyBack()"><img src="../../../../assets/arrow.svg" alt="back"></button>
    <img class="video-image" [src]="(video | async)?.snippet?.thumbnails?.high?.url" alt="">
    <div class="video-detailes style" [ngStyle]="{'min-height': (video | async)?.snippet?.thumbnails?.high?.height + 'px'}" [appCardBorderStyle]="(video | async)?.snippet?.publishedAt">
      <div class="video-info">
        <div class="video__title">{{ (video | async)?.snippet?.title }}</div>
        <div class="video__date">{{ (video | async)?.snippet?.publishedAt | date:"fullDate" }}</div>
      </div>
      <h3 class="video__descr-title">Description:</h3>
      <p class="video__descr">{{ (video | async)?.snippet?.description }}</p>
      <div class="video__stat">
        <span *ngIf="(video | async)?.statistics?.viewCount" class="stat__item stat__item--viewed">{{ (video | async)?.statistics?.viewCount
          }}</span>
        <span *ngIf="(video | async)?.statistics?.likeCount" class="stat__item stat__item--like">{{ (video | async)?.statistics?.likeCount
          }}</span>
        <span *ngIf="(video | async)?.statistics?.favoriteCount" class="stat__item stat__item--dislike">{{
          (video | async)?.statistics?.favoriteCount }}</span>
        <span video.statistics.commentCount class="stat__item stat__item--group">{{ (video | async)?.statistics?.commentCount
          }}</span>
      </div>
    </div>
  </div>
</div>
