<header>
  <div class="container">
    <div class="header">
      <div class="header__left">
        <app-logo routerLink="/main"></app-logo>
        <input [(ngModel)]="input" (input)="showResultsBlock()" class="search-input" type="text" placeholder="What are you want to find out?">
        <app-settings-button (filtersIsVisible)="toggleFilters($event)"></app-settings-button>
      </div>
      <app-authentication></app-authentication>
    </div>
  </div>
</header>

<app-filtering-block *ngIf="filtersIsVisible" (searchInput)="showsearchInput($event)"></app-filtering-block>

<router-outlet></router-outlet>