
  <header>
    <div class="container">
      <div class="header">
        <app-logo routerLink="/main"></app-logo>
        <div class="search-block">
          <input [(ngModel)]="input" class="search-input" type="text" placeholder="What are you want to find out?">
          <button (click)="showResultsBlock()" class= "search-button" type="button">search</button>
          <app-settings-button (filtersIsVisible)="toggleFilters($event)"></app-settings-button>
        </div>
        <app-authentication  routerLink="/auth"></app-authentication>
      </div>
  </div>
  </header>


<app-filtering-block
  *ngIf="filtersIsVisible"
  [sortedViews]="sortedViews"
  (viewsOrder)="changeViewsOrder($event)"
  [sortedDates]="sortedDates"
  (datesOrder)="changeDatesOrder($event)"
  (searchInput)="showsearchInput($event)"
></app-filtering-block>

<app-results-block
  *ngIf="isVisibleResults"
  [searchInput]="searchInput"
  [sortedViews]="sortedViews"
  [sortedDates]="sortedDates"
></app-results-block> 
<router-outlet></router-outlet>