<div class="container">
  <div class="wrapper">
    <a class="btn" href="/main">Back</a>
    <img class="img" src="https://i.ytimg.com/vi/YN8zNnV0sK8/maxresdefault.jpg" alt="">
    <div class="detailes">
      <div class="wrap">
        <div class="video__title">Kuji Podcast #20</div>
        <div class="video__date">Thursday, May 20, 2019</div>
      </div>
      <h3 class="video__descr-title">Description:</h3>
      <p class="video__descr">Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и Нурланом Сабуровым обсуждают окончание 2018 года: бой Хабиба с МакГрегором, Кокорина и Мамаева, шоу Урганта на Первом канале, экономический кризис и подарки для близких.</p>
      <div class="video__stat">
        <span class="stat__item stat__item--viewed">100</span>
        <span class="stat__item stat__item--like">100</span>
        <span class="stat__item stat__item--dislike">100</span>
        <span class="stat__item stat__item--group">100</span>
      </div>
    </div>  
  </div>
</div>
