<div class="container">
  <form class="login-form" [formGroup]="formGroup" (submit)="onSubmit()">
    <h2 class="login-form__password">Login</h2>
    <h3 class="login-form__field-title">login</h3>
    <input class="login-form__field-input" formControlName="login" name="login" id="login" type="text">

    <div class="message-container">
      <div *ngIf="_login.invalid && (_login.touched || _login.dirty || _login.untouched)">
        <span class="message" *ngIf="_login.errors?.['required']">Please enter login email</span>
        <span class="message" *ngIf="_login.errors?.['email']">The login email is invalid</span>
      </div>
    </div>

    <h3 class="login-form__field-title">password</h3>
    <input class="login-form__field-input" formControlName="password" type="text">

    <div class="message-container">
      <div *ngIf="_password.invalid && (_password.touched || _password.dirty || _password.untouched)">
        <span class="message" *ngIf="_password.errors?.['required']">Please enter a password</span>
        <span class="message" *ngIf="_password.errors?.['minlength']">At least 8 characters</span>
        <span class="message" *ngIf="_password.errors?.['validateUpperLowerCase'] && _password.dirty"><br>
          Both uppercase and lowercase letters</span>
          <span class="message" *ngIf="_password.errors?.['validateNumbersLetters'] && _password.dirty"><br>
            Both numbers and letters</span>
        <span class="message" *ngIf="_password.errors?.['validateSpecial'] && _password.dirty"><br>
          At least one special character (!?@#$%^&*)</span>
      </div>

    </div>
    <div class="buttons-wrapper">
      <button class="login-form__submit" [disabled]="formGroup.invalid" type="submit">Login</button>
    </div>
  </form>
</div>