
  <header>
    <div class="container">
      <div class="header">
        <div class="search-block">
          <img src="../assets/logo.svg" alt="logo">
          <input class= "search-input" type="text" placeholder="What are you want to find out?">
          <button class= "search-button"type="button">search</button>
          <button class= "settings-button" type="button"><img src="../assets/search-settings.svg" width="24" height="24" alt=""></button>
        </div>
        <div class="login-block">
          <span class="user-name">Your Name</span>
          <img class= "user-image"src="../assets/login.svg" width="24" height="24" alt="">
        </div>
      </div>
  </div>
  </header>


  <div class="filtering-block">
    <div class="container">
      <div class="filtering-block-container">
        <span class="filtering-title">Sorting by:</span>
        <span class="filtering-criteria">date</span>
        <span class="filtering-criteria">count of views</span>
        <span class="filtering-criteria">by word or sentance</span>
        <input class="filtering-input" type="text">
      </div>
    </div>
  </div>

  <div class="container">
  <div class="results-block">

    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
    <div class="card">
      <img class="caption" src="../assets/caption.jpg" alt="">
      <div class="indicators-wrapper">
        <span class="indicators-item viewed">100</span>
        <span class="indicators-item like">100</span>
        <span class="indicators-item dislike">100</span>
        <span class="indicators-item group">100</span>
      </div>
      <h2 class="video-title">Kuji Podcast #21</h2>
      <button type="button" class="more-button">more...</button>
      <div class="line"></div>
    </div>
  </div>
</div>


