.login-block {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #4f4f4f;
}
.user-image {
  margin-left: 10px;
}

.button {
  width: 80px;
  height: 25px;
  color: white;
  background-color: #2F80ED;
  border: 1px solid #2F80ED ;
  border-radius: 5px;
  margin-left: 10px;
}

