<div class="container">
  <form class="admin-form" action="">
    <h2 class="admin-form__title">Create new card</h2>
    <h3 class="admin-form__field-title">Title:</h3>
    <input class="admin-form__field-input" type="text">
    <h3 class="admin-form__field-title">Description:</h3>
    <input class="admin-form__field-input" type="text">
    <h3 class="admin-form__field-title">Img:</h3>
    <input class="admin-form__field-input" type="text">
    <h3 class="admin-form__field-title">Link video:</h3>
    <input class="admin-form__field-input" type="text">
    <h3 class="admin-form__field-title">Creation date:</h3>
    <input class="admin-form__field-input" type="text">
    <div class="buttons-wrapper">
      <button class="admin-form__submit" type="button">Create card </button>
    </div>
  </form>
</div>
